	@font-face {
		src: url(Roboto-Regular.ttf);
		font-family: rob;
	}
	@font-face{
		src:  url(Rubik-VariableFont_wght.ttf);
		font-family: rubik;
	}
	@font-face {
		src:  url(Cinzel-VariableFont_wght.ttf);
		font-family: cinzel;
	}
	@font-face {
		src:  url(NotoSans-Regular.ttf);
		font-family: noto;
	}
	
	body {
		font-family: rob;
	}
		.header{
			background-color: black;
    		color: #fff;
    		border-color: #080808;
    		min-height: 72px;
    		border: 1px solid transparent;
		}
		
  		.inner-header{
  			padding-top: 5px;
  			padding-left: 20px;
  			color: #fff;
  			float: left;
  			font-size: 60px;
  			font-family: noto;
  		}
  		.inner-header a{
  			text-decoration: none;
  			color: #fff;
  			float: left;
  			font-size: 40px;
  		}
  		ul {
  			list-style-type: none;
  			float: right;
 			 margin: 0;
 			 padding: 12px;
 			text-align: right;
		}
		li {
 			 display: inline;
 			 padding: 20px;
 			 text-decoration: none;
		}
		.t1{
			color: #fff;
			font-size: 40px;
  			
		}
		
  		.level ul li a {
  			text-decoration: none;
  			text-align: Left;
  			font-size: 40px;
  			color: #fff;
  		}
  		.level ul li a:hover{
  			padding: 13px;
  			 background-color: #8FC447;
 			 color: #fff;
  		}
  		

  		.level a{

  			text-decoration: none;
  			color: #fff;
  			

  		}
  		.about{
  			padding-left: 100px;
  			padding-right: 100px;
  			font-family: rubik;

  			align-content: center;
  			
  			
  			text-align: center;
  			color : #fff;
  			font-size: 40px;
  		}
  		.container {
    		width: 90%;
   			 margin: auto;
    		overflow: hidden;
    		text-align: center;
		}

		.dropdown {
 			 
 		 	display: inline-block;
		}	
  		.dropbtn {
  			margin-top: 0px;
  			color: white;
  			padding: 0px;
  			font-size: 40px;
  			border: none;
  			cursor: pointer;
		}

		

		.dropdown-content {
 			 display: none;
 			 position: absolute;
 			 background-color: #D3EB8F;
 			 min-width: 150px;
 			 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 			
		}

		.dropdown-content ul li a {
  			 color: #4C4F51;
 			 padding: 5px 10px 0px 0px;
 			 font-size: 30px;
  			 text-decoration: none;
  			 display: block;
  			
		}
		.dropdown-content ul li a:hover{
			background-color: #D3EB8F;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			color: #4C4F51;
		}

		.dropdown:hover .dropdown-content {
 			 display: block;
		}

		.dropdown:hover .dropbtn {
 			background-color: #8FC447;
 			 color: #fff;
		}
		
		

		footer {

   			 background-color: #000;
   			 color: #fff;
   			 font-size: 20px;
		}
		.me{
			padding-top: 10px;
			float: left;

		}
	
		.space{
			height : 620px;
			width: 50px;
		}
		.head{
			font-size: 60px;
		}
		.choose{
			padding-top: 50px;
			padding-bottom: 30px;
			font-size: 50px;
			font-family: rubik;
			 
		}
		.flex-container {
 			 display: flex;
 			 justify-content: center;
		}
		.diff a{
			
			font-size: 50px;
			text-decoration: none;
			padding: 30px;
			color: #B6C5D3;
		
		}
		.diff a:hover{
			background-color: #7EB336;
			color: #fff;
		}

		.faculty-profile .card .card-header .profile_img {
			width: 100px;
			height: 100px;
			object-fit: cover;
			margin: 10px auto;
			border: 10px solid #ccc;
			border-radius: 50%;
		}
		.student-profile .card {
			border-radius: 10px;
		}
		.student-profile .card h3 {
			font-size: 20px;
			font-weight: 700;
		}
		.student-profile .card p {
			font-size: 16px;
			color: #000;
		}
		.student-profile .table th,
        .student-profile .table td {
        font-size: 14px;
        padding: 5px 10px;
        color: #000;
        }